<h2>Starships in Episode {{ episodeId }}</h2>
<table class="table table-striped">
  <!-- ... Table headers ... -->
  <tbody>
    <tr *ngFor="let starship of starships">
      <td>{{ starship.name }}</td>
      <td>{{ starship.model }}</td>
      <td>{{ starship.manufacturer }}</td>
      <td>
        <!-- Add a button to toggle the ship detail -->
        <button
          class="btn btn-primary"
          (click)="toggleShipDetail(starship)"
        >
          Toggle Detail
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Include the ShipDetailComponent dynamically -->
<div *ngIf="selectedShip">
  <app-ship-detail [ship]="selectedShip"></app-ship-detail>
</div>
