<h2>Star Wars Movies</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Episode ID</th>
      <th>Release Date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of movies">
      <td>{{ movie.title }}</td>
      <td>{{ movie.episode_id }}</td>
      <td>{{ movie.release_date }}</td>
      <td>
        <button class="btn btn-primary" [routerLink]="['/ships', movie.episode_id]">View Ships</button>
      </td>
    </tr>
  </tbody>
</table>
